.vscode/
twitterOLAPingENV/
fix.py
mergeVids.py
tweets*Fix.py
*.txt
test/
optsec/
opt2/
opt/
decopt/
decopt2/
urls_root/
transformation/__pycache__/
archivedTweetsCrawler/tweetsSTREAMs.csv
.*junk*.py
*.json
*.csv
*.html
eda.py
gottaberemoved.py
junk.py
junkthreads.py
data/
transformation/nlpjunk.py
cleanSentiments.py
cleanTweets.py
batch_data/
users/
!tweetsPOOLs.csv
!sample-data/urls_root
!sample-data/chosen_urls.txt
!sample-data/tweetsSTREAMs.csv
!sample-data/decompressed-pools/*.json
!sample-data/normalized-data/*.csv
!sample-data/processed/*.csv
!sample-data/urls_root/1/*.txt
!sample-data/urls_root/2/*.txt
!sample-data/
!requirements.txt
